/* src/app/globals.css or index.css */
@layer utilities {
  .user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .backdrop-blur {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }

  .backdrop-blur-xl {
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
  }
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}